*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html:focus-within {
    scroll-behavior: smooth;
}


body,
h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}


body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-family: inherit;
}


h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}


h1, h2,
h3, h4 {
    text-wrap: balance;
}


a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}


img, picture {
    max-width: 100%;
    display: block;
}


input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}


textarea:not([rows]) {
    min-height: 10em;
}


:target {
    scroll-margin-block: 5ex;
}


ul[role='list'],
ol[role='list'] {
    list-style: none;
}

:root{
    --clr-Purple-600: hsl(246, 80%, 60%);
    --clr-Orange-300-work: hsl(15, 100%, 70%);
    --clr-Blue-300-play: hsl(195, 74%, 62%);
    --clr-Pink-400-study: hsl(348, 100%, 68%);
    --clr-Green-400-exercise: hsl(145, 58%, 55%);
    --clr-Purple-700-social: hsl(264, 64%, 52%);
    --clr-Yellow-300-selfcare: hsl(43, 84%, 65%);

    --clr-Navy-950: hsl(226, 43%, 10%);
    --clr-Navy-900: hsl(235, 46%, 20%);
    --clr-Purple-500: hsl(235, 45%, 61%);
    --clr-Navy-200: hsl(236, 100%, 87%);

    --ff:  "Rubik", sans-serif;

    --fs: 18px;

    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
}

body {
    background-color: var(--clr-Navy-950);
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-300);

}
/* desktop */


/* mobile */
@media screen and (max-width:375px){



}