*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* border: 0.1px solid red; */
}


html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html:focus-within {
    scroll-behavior: smooth;
}


body,
h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}


body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-family: inherit;
}


h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}


h1, h2,
h3, h4 {
    text-wrap: balance;
}


a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}


img, picture {
    max-width: 100%;
    display: block;
}


input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}


textarea:not([rows]) {
    min-height: 10em;
}


:target {
    scroll-margin-block: 5ex;
}


ul[role='list'],
ol[role='list'] {
    list-style: none;
}

:root{
    --clr-Purple-600: hsl(246, 80%, 60%);
    --clr-Orange-300-work: hsl(15, 100%, 70%);
    --clr-Blue-300-play: hsl(195, 74%, 62%);
    --clr-Pink-400-study: hsl(348, 100%, 68%);
    --clr-Green-400-exercise: hsl(145, 58%, 55%);
    --clr-Purple-700-social: hsl(264, 64%, 52%);
    --clr-Yellow-300-selfcare: hsl(43, 84%, 65%);

    --clr-Navy-950: hsl(226, 43%, 10%);
    --clr-Navy-900: hsl(235, 46%, 20%);
    --clr-Purple-500: hsl(235, 45%, 61%);
    --clr-Navy-200: hsl(236, 100%, 87%);

    --ff:  "Rubik", sans-serif;

    --fs: 18px;

    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
}

body {
    background-color: var(--clr-Navy-950);
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-300);

}
.wrapper{
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

/* desktop */
.container{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.intro_card{
    display: flex;
    flex-direction: column;

    overflow: hidden;

    background-color: var(--clr-Navy-900);
    border-radius: 1rem;

    min-width: 30%;


}
.intro_secondary{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    border-radius: 1rem;
    background-color: var(--clr-Purple-600);
    
    padding: 2rem;
}
.intro_img{
    width: 55px;
    aspect-ratio: 1;

    border: 2px solid white;
    border-radius: 50%;
}
.intro_heading p ,
.intro_heading h1{
    font-weight: var(--fw-300);
    padding-bottom: 0.6rem;
}
.intro_heading p {
    color: var(--clr-Navy-200);
}
.intro_heading h1{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.intro_navigation{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: self-start;

    gap: 1rem;
}

.intro_navigation button{
    background:none;
    border: none;

    cursor: pointer;
    color: var(--clr-Navy-200);
}
button:hover{
    color: white;
}

/* Desktop grid */
.task_grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    gap: 2rem;


    /* overflow: hidden; */
}
.task_card{
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position:  95% -5%;
    background-size: 75px;

    padding-top: 20%;

}
.card_secondary{
    background-color: var(--clr-Navy-900);
    
    border-radius: 1rem;

    padding: 1.8rem;

    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.card_heading{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.card_secondary h3,
.card_secondary h1 {
    color: white;
    font-weight: var(--fw-300);
}

.card_secondary p {
    color: var(--clr-Navy-200);
    font-size: smaller;
}

.card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.4rem;
}

.work_task{
    background-color: var(--clr-Orange-300-work);

    background-image: url(./images/icon-work.svg);
    overflow: hidden;
}





/* mobile */
@media screen and (max-width:390px){
    .container{
        flex-direction: column;
        gap: 2rem;
    }
    .intro_secondary{
        gap: 1rem;
    }
    .intro_heading p ,
    .intro_heading h1{
        padding-bottom: 0rem;
    }
    .intro_heading h1{
        flex-direction: row;
        gap: 0.4rem;

    }
    .intro_img{
        width: 55px;
        aspect-ratio: 1;

        border: 2px solid white;
        border-radius: 50%;
    }
    .intro_navigation{
        padding: 1.4rem;
        flex-direction: row;
        gap: 0;
    }

    /* Mobile grid */

    .task_grid{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .task_card{
        padding-top: 15%;
    }
    .card_secondary{
        border-radius: 0.9rem;
        padding: 1.6rem;

    }

    .card_secondary h3,
    .card_secondary h1 {
        color: white;
        font-weight: var(--fw-300);
    }
    .card_secondary p {
        color: var(--clr-Navy-200);
        font-size: smaller;
    }
    .card_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .work_task{
        background-color: var(--clr-Orange-300-work);

        background-image: url(./images/icon-work.svg);
        overflow: hidden;
    }


}