*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html:focus-within {
    scroll-behavior: smooth;
}


body,
h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}


body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-family: inherit;
}


h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}


h1, h2,
h3, h4 {
    text-wrap: balance;
}


a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}


img, picture {
    max-width: 100%;
    display: block;
}


input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}


textarea:not([rows]) {
    min-height: 10em;
}


:target {
    scroll-margin-block: 5ex;
}


ul[role='list'],
ol[role='list'] {
    list-style: none;
}

:root{
    --clr-Purple-600: hsl(246, 80%, 60%);
    --clr-Orange-300-work: hsl(15, 100%, 70%);
    --clr-Blue-300-play: hsl(195, 74%, 62%);
    --clr-Pink-400-study: hsl(348, 100%, 68%);
    --clr-Green-400-exercise: hsl(145, 58%, 55%);
    --clr-Purple-700-social: hsl(264, 64%, 52%);
    --clr-Yellow-300-selfcare: hsl(43, 84%, 65%);

    --clr-Navy-950: hsl(226, 43%, 10%);
    --clr-Navy-900: hsl(235, 46%, 20%);
    --clr-Purple-500: hsl(235, 45%, 61%);
    --clr-Navy-200: hsl(236, 100%, 87%);

    --ff:  "Rubik", sans-serif;

    --fs: 18px;

    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
}

body {
    background-color: var(--clr-Navy-950);

    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-300);

 
}
/* desktop */
.wrapper{
    min-height: 100vh;
    min-width:max-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    padding: 2rem;
}
.intro_card{
    height: max-content;
}

.task_grid{
    display: grid;
    gap: 1rem;
}

.primary{
    background-color: var(--clr-Navy-900);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-bottom: 2rem;

}

.primary button {
    background: none;
    border: none;
    
    width: 30px;
    height: 30px;
    padding-left: 2rem;
    color: var(--clr-Purple-500);
}

.primary button:hover{
    color: white;
}
.secondary{
    background-color: var(--clr-Purple-600);
    border-radius: 1rem;
    overflow: hidden;

    padding: 1rem;
    margin-bottom: 1rem;

    color: white;
    width: 240px;

}
.secondary p {
    color: var(--clr-Navy-200);
}
.secondary h1 {
    font-weight: var(--fw-300);
    padding-bottom: 2rem;
    font-size: 2rem;
}

.secondary img {
    aspect-ratio: 1;
    max-width: 70px;
    border-radius: 50%;
    border: 2px solid white;

    margin-bottom: 2rem;
}

.task_grid {
    display: grid;
    grid-template-columns: repeat(3,240px);
    gap: 1.4rem;
}

.task_primary{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

}
.task_primary > svg {
    position: absolute;
    top: -5%;
    right: 5%;
}
.task_secondary{
    background-color: var(--clr-Navy-900);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 75%;
    padding: 1.4rem;
    border-radius: 1rem;

}
.task_primary h1,
.task_primary h2{
    color: white;
    font-weight: var(--fw-400);
}
.task_primary p{
    color: var(--clr-Purple-500);
}
.task_heading{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}
.task_heading img {
    aspect-ratio: 1;
}
.work_primary{
    background-color: var(--clr-Orange-300-work);
}

/* mobile */
@media screen and (min-width:375px){

}